<a href="https://colab.research.google.com/github/KimaMurry/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [75]:
import pandas as pd

In [76]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-07-11 04:39:16--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.149.64.5, 35.166.36.92, 34.213.98.158, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.149.64.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [     <=>            ]  22.21M  1.76MB/s    in 13s

2020-07-11 04:39:31 (1.65 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23289953]

In [77]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [78]:
##### Begin Working Here #####
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

In [79]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [80]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [81]:
# looking at the term column
df['term'].head(10)

0     36 months
1     60 months
2     60 months
3     36 months
4     36 months
5     60 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object

In [82]:
# looking at one value
df['term'][6]

' 60 months'

In [83]:
type(df['term'][6])

str

In [84]:
# cleaning it up
term = ' 60 months'

In [85]:
# removing the leading space
term.strip()

'60 months'

In [86]:
# removing the words and trailing space
term.strip(' months')

'60'

In [87]:
# removing both
term.strip().strip(' months')

'60'

In [88]:
# cast the string from string to integer
int('60')

60

In [89]:
# put it together
int(term.strip().strip(' months'))

60

In [90]:
type(int(term.strip().strip(' months')))

int

In [91]:
# writing the function
def myfunc(cell_values):
  return int(cell_values.strip().strip(' months'))

In [92]:
# the test
myfunc(term)

60

In [93]:
type(myfunc(term))

int

In [94]:
new_list = []

In [95]:
# for loop
for cell in df['term']:
  new_list.append(myfunc(cell))

In [96]:
# look at first 10 values
new_list[:10]

[36, 60, 60, 36, 36, 60, 60, 36, 36, 60]

In [97]:
# convert to new column
df['term_cleaned'] = pd.Series(new_list)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term term_cleaned
0      18000        18000  ...              NaN           36
1      18500        18500  ...              NaN           60
2      32000        32000  ...              NaN           60
3       5000         5000  ...              NaN           36
4      13000        13000  ...              NaN           36

[5 rows x 141 columns]

In [98]:
# looking at the types
df.dtypes

loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
term                      object
int_rate                  object
                          ...
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
term_cleaned               int64
Length: 141, dtype: object

In [99]:
# using the .apply function
df['term_cleaned2'] = df['term'].apply(myfunc)
df.head()

   loan_amnt  funded_amnt  ...  term_cleaned term_cleaned2
0      18000        18000  ...            36            36
1      18500        18500  ...            60            60
2      32000        32000  ...            60            60
3       5000         5000  ...            36            36
4      13000        13000  ...            36            36

[5 rows x 142 columns]

new_list = []

In [64]:
def clean_credit(loan_status):
  if loan_status in ['Current','Fully Paid']:
    return 1
  else:                               
    return 0

In [67]:
df['loan_status_is_great'] = df['loan_status'].apply(clean_credit)

In [68]:
df.head

<bound method NDFrame.head of         loan_amnt  funded_amnt  ...  term_cleaned2 loan_status_is_great
0           18000        18000  ...             36                    0
1           18500        18500  ...             60                    1
2           32000        32000  ...             60                    1
3            5000         5000  ...             36                    1
4           13000        13000  ...             36                    1
...           ...          ...  ...            ...                  ...
128407      23000        23000  ...             36                    0
128408      10000        10000  ...             36                    1
128409       5000         5000  ...             36                    1
128410      10000        10000  ...             36                    1
128411      10000        10000  ...             36                    1

[128412 rows x 143 columns]>

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01