<a href="https://colab.research.google.com/github/KimaMurry/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
import pandas as pd

In [ ]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-07-12 02:32:58--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.149.64.5, 52.42.46.127, 34.213.98.158
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.149.64.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

tats_2018Q4.csv.zip     [               <=>  ]   6.52M  2.11MB/s               ^C

In [ ]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
##### Begin Working Here #####
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

In [ ]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [ ]:
# looking at the term column
df['term'].head(10)

0     36 months
1     60 months
2     60 months
3     36 months
4     36 months
5     60 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object

In [ ]:
# looking at one value
df['term'][6]

' 60 months'

In [ ]:
type(df['term'][6])

str

In [ ]:
# cleaning it up
term = ' 60 months'

In [ ]:
# removing the leading space
term.strip()

'60 months'

In [ ]:
# removing the words and trailing space
term.strip(' months')

'60'

In [ ]:
# removing both
term.strip().strip(' months')

'60'

In [ ]:
# cast the string from string to integer
int('60')

60

In [ ]:
# put it together
int(term.strip().strip(' months'))

60

In [ ]:
type(int(term.strip().strip(' months')))

int

In [ ]:
# writing the function
def myfunc(cell_values):
  return int(cell_values.strip().strip(' months'))

In [ ]:
# the test
myfunc(term)

60

In [ ]:
type(myfunc(term))

int

In [ ]:
new_list = []

In [ ]:
# for loop
for cell in df['term']:
  new_list.append(myfunc(cell))

In [ ]:
# look at first 10 values
new_list[:10]

[36, 60, 60, 36, 36, 60, 60, 36, 36, 60]

In [ ]:
# convert to new column
df['term_cleaned'] = pd.Series(new_list)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term term_cleaned
0      18000        18000  ...              NaN           36
1      18500        18500  ...              NaN           60
2      32000        32000  ...              NaN           60
3       5000         5000  ...              NaN           36
4      13000        13000  ...              NaN           36

[5 rows x 141 columns]

In [ ]:
# looking at the types
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
term_cleaned                                    int64
dtype: object

In [ ]:
# using the .apply function
df['term_cleaned2'] = df['term'].apply(myfunc)
df.head()

   loan_amnt  funded_amnt  ...  term_cleaned term_cleaned2
0      18000        18000  ...            36            36
1      18500        18500  ...            60            60
2      32000        32000  ...            60            60
3       5000         5000  ...            36            36
4      13000        13000  ...            36            36

[5 rows x 142 columns]

new_list = []

In [ ]:
def clean_credit(loan_status):
  if loan_status in ['Current','Fully Paid']:
    return 1
  else:                               
    return 0

In [ ]:
df['loan_status_is_great'] = df['loan_status'].apply(clean_credit)

In [ ]:
df.head()

   loan_amnt  funded_amnt  ...  term_cleaned2 loan_status_is_great
0      18000        18000  ...             36                    0
1      18500        18500  ...             60                    1
2      32000        32000  ...             60                    1
3       5000         5000  ...             36                    1
4      13000        13000  ...             36                    1

[5 rows x 143 columns]

In [ ]:
mylist = []
for col in df.columns:
  if col.endswith('_d'):
    mylist.append(col)
mylist

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [ ]:
mycols = [col for col in df.columns if col.endswith('_d')]

In [ ]:
df['last_pymnt_d'][:10]

0    Oct-2019
1    Jun-2020
2    May-2020
3    Oct-2019
4    Jun-2020
5    Jun-2020
6    Jun-2020
7    Sep-2019
8    Dec-2019
9    Jun-2020
Name: last_pymnt_d, dtype: object

In [ ]:
df['last_pymnt_d'].head().values

array(['Oct-2019', 'Jun-2020', 'May-2020', 'Oct-2019', 'Jun-2020'],
      dtype=object)

In [ ]:
df['last_pymnt_date'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [ ]:
df[['last_pymnt_d', 'last_pymnt_date']].sample(4)

       last_pymnt_d last_pymnt_date
46378      Jan-2019      2019-01-01
104752     Jun-2020      2020-06-01
112752     Jun-2020      2020-06-01
25413      May-2019      2019-05-01

In [ ]:
# grabbing the year
df['last_pymnt_year']=df['last_pymnt_date'].dt.year
df.head()

    issue_d last_pymnt_d  ... last_pymnt_date last_pymnt_year
0  Dec-2018     Oct-2019  ...      2019-10-01          2019.0
1  Dec-2018     Jun-2020  ...      2020-06-01          2020.0
2  Dec-2018     May-2020  ...      2020-05-01          2020.0
3  Dec-2018     Oct-2019  ...      2019-10-01          2019.0
4  Dec-2018     Jun-2020  ...      2020-06-01          2020.0

[5 rows x 6 columns]

In [ ]:
type(df['last_pymnt_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
df[['last_pymnt_date']].dtypes

last_pymnt_date    datetime64[ns]
dtype: object

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01